.menu{
    display: flex;
    background-image: url('../../../public/imag_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: -1; */
    opacity: .7;
    height: 50vh;

}

.form{
    /* margin-top: 5rem; */
    margin-left: 40rem ;
}

.fbe{
    margin-top: 7rem;
    /* color: #f76e11; */
    margin-left: 40rem;
    font-size: 3rem;
}

#sea{

    /* margin-left: 4rem; */
    height: 35px;
    width: 15rem;
    padding: 1rem;
    font-weight: lighter;
    font-size: 1rem;
    padding-bottom: 2rem;
    /* padding-top: 2rem; */

}

#bt{
    height: 45px;
    width: 150px;
    font-size: 20px;
    background:#f76e11;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #000;
    margin-top: 30px;
    /* margin-left: 180px; */
}


@media only screen and (max-width: 768px) {
    .form, .fbe {
      margin-left: 0;
    }
  
    #sea {
      width: 100%;
    }
  
    #bt {
      margin: 30px auto 0;
    }
  }